services:
  mongo:
    image: mongo
    container_name: mongodb_server
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    env_file:
      - .env
  mongo-express:
    image: mongo-express
    container_name: mongo_express_ui
    restart: always
    ports:
      - 8081:8081
    env_file:
      - .env
    depends_on:
      - mongo

volumes:
  mongo_data: