---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-brand-pale p-8 rounded-xl border border-brand-light">
    <h2 class="text-brand-dark text-2xl font-bold">Título en Azul Oscuro</h2>

    <p class="text-brand-main mt-2">Este texto usa tu color base (#315F94).</p>

    <button
      class="mt-4 bg-brand-main text-white px-4 py-2 rounded hover:bg-brand-light transition"
    >
      Botón Principal
    </button>
  </div>
</Layout>
